h1, h2 {
  font-family: 'Playfair Display', serif;
}

html {font-size: 20px;}

body {
  font-family:'futura';
  font-weight: 400;
  line-height: 1.45;
  margin: 2em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1em;
  color: #f990a4;
  text-align: left;
}

h2 {font-size: 1.600em;
font-family: avenir-light;
justify-content: left;
margin-top: 20px;
margin-left: 110px;
color: #ffffff;
}
